@font-face {
    font-family: parallax;
    src: url(Streamster.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.box1 {
    height: 100vh;
    width: 100%;
    background-image: url(lobby.png);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

.box2 {
    height: 100vh;
    width: 100%;
    background-image: url(oneshot.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

.box3 {
    height: 100vh;
    width: 100%;
    background-image: url(survival.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

h1 {
    font-family: parallax;
    font-size: 48px;
    color: #fff;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}